body,html{
	margin-left: 10px;
	margin-right: 10px;
	
	background-image:url("img/colorful-skyline2.jpg");
	background-repeat: no-repeat;
	background-size: 65%;
	background-position: center, 70px;
	background-attachment: fixed;
}
h1{
	font-weight: normal !important;
	padding: 0.5em;
	text-align: center !important;
	font-size: 1.3em;
}
h2{
	font-weight: normal !important;
	padding: 0.5em;
	text-align: center !important;
}

#map {
	height: 400px;
	width: 100%;
}
.col-md-12{
	padding-left: 3em !important;
	padding-right: 3em !important;
	padding-top: 0em !important;
	padding-bottom:0em;
	text-align: center;
}
.inTitle{
	padding-top: 2em !important;
}
.mybtn {
	margin-right: 10px;
}
.button {
	border-radius: 10px;
}
#beforeButtons {
	margin: 25px 0px 10px 0px;
}
#headContainer {
	margin-left: -20px;
}
#nameInput{
	background-color:rgba(255,255,255,0.5);
	border: none;
	border-radius: 5px;
}
